torch
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
rank_bm25
pypdf
pytesseract
pdf2image
Pillow
rapidfuzz
jellyfish
indic-transliteration
groq
pydantic
pandas
numpy
tenacity
python-dotenv
gradio==4.44.1